mat-card {
    width: 10%;
    border: 1px solid gray;
    margin: 10px;
    cursor: pointer;
}
mat-card:hover {
    background-color: #e6eaf9;
}
mat-card-footer {
    text-align: center;
}
mat-card-title {
    background-color: #d60e33;
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 22px;
}
.pokemon-image {
    margin-bottom: 0px;
}
.list-container {
    display: flex;
    flex-wrap: wrap;
}